/* Header Styles */
#title {
    font-size: 3em;
    text-align: center;
}

/* Navigation Bar Styles */
.nav a {
    color: black;
}

.nav img {
    height: min(10vh, 10vw);
    width: min(10vh, 10vw);
}

.nav-content {
    display: flex;
    justify-content: center;
}

.nav-content ul {
    margin: 0;
    padding: 0;
}

.nav-content li {
    list-style-type: none !important;
    font-size: min(3h, 3vw);
    float: left;
}

.nav-content li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
}

.nav-content li a:hover {
    background-color: whitesmoke;
}

/* General Styles */
.intro-text {
    text-align: center;
    margin-top: 10px;
}

section p {
    padding-left: 20px;
}

body {
    margin: 0;
}

ul:not(.browser-default) {
    list-style-type: none;
}

ul:not(.browser-default)>li {
    list-style-type: circle;
}

ul li {
    padding: 0px 0px;
}

a {
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

/* Container Styles */
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

br {
    margin-bottom: 0px;
}

/* Responsive Typography Styles */
html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

@media only screen and (min-width: 0) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 14.5px;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px;
    }
}